body {
    font-family: Microsoft JhengHei;
        font-weight:900
}
.lottery{
    background: #f8efa9;
    border-bottom-color: rgba{0,0,0,0};
        
}
strong{
    color: red;
}
.b1,.b2,.b3,.b4,.b5,.b6{
    background: #f2bd0d;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    text-align: center;
    font-weight: 900;
    font-size:23px;
    font-family: Arial;

}
.a1,.a2,.a3,.a4,.a5,.a6{
    background: #f2bd0d;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    text-align: center;
    font-weight: 900;
    font-size:23px;
    font-family: Arial;
    

    
}
.b7{
    background: red;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    text-align: center;
    font-weight: 900;
    color: white;
    font-size:23px;
    font-family: Arial;

}
td{
    line-height: 50px;
    
}
